synthesis/db/
synthesis/incremental_db/
synthesis/greybox_tmp/
synthesis/c5_pin_model_dump.txt
synthesis/*_assignment_defaults.qdf
synthesis/*.done
synthesis/*.flow.rpt
synthesis/*.map.rpt
synthesis/*.map.smsg
synthesis/*.map.summary
synthesis/*.qws
synthesis/*.asm.rpt
synthesis/*.fit.rpt
synthesis/*.fit.smsg
synthesis/*.jdi
synthesis/*.pin
synthesis/*.sld
synthesis/*.sof
synthesis/*.sta.summary
synthesis/*.sta.rpt
synthesis/*.fit.summary
synthesis/*.jditmp
synthesis/*.cdf
*.bak

.venv/
.env

sim_build/
__pycache__/
results.xml

.DS_Store
